extends layout

block content
    h1 Blue Jays Project
    p.
        Quick project created for job position as Analytics Developer - Toronto Blue Jays at Rogers Communications #[br]
        Created by Fahad Tariq